<div class="modal fade" id="info" tabindex="-1" aria-labelledby="info" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h2 class="modal-title fs-5 text-light">{{ title }}</h2>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-text-normal">
          Version: 2.0.0 <br />
          &copy; Copyright {{ getYear() }}
        </p>
        <hr />
        <h2 class="fs-5 text-light">About</h2>
        <p class="modal-text-normal">
          Taka Tracker pulls currency exchange rate at real time from authentic sources and displays.<br /><br />
          Product of <a href="https://aultrus.com" target="_blank" class="text-info text-decoration-none">Aultrus</a>
        </p>
      </div>
      <div class="modal-footer align-content-start">
        <span class="modal-text">Last Updated: {{ time }}</span>
      </div>
    </div>
  </div>
</div>
