<div class="modal fade" id="info" tabindex="-1" aria-labelledby="info" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h2 class="modal-title fs-5 text-light">{{ title }}</h2>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-text-normal">
          Version: 1.0.1 <br />
          &copy; Copyright {{ getYear() }}
        </p>
        <hr />
        <h2 class="fs-5 text-light">Developers</h2>
        <p class="modal-text-normal">
          Sadat Rafsanjani <br />
          Nayeem Hussain Shanto
        </p>
      </div>
      <div class="modal-footer align-content-start">
        <span class="modal-text">Last Updated: {{ time }}</span>
      </div>
    </div>
  </div>
</div>
