.text-color-heading {
  color: #f0f0f0;
  font-weight: bold;
  font-size: 12px;
  font-family: Bahnschrift, sans-serif;
}

.modal-text {
  color: #f0f0f0;
  font-size: 11px;
  font-family: Bahnschrift, sans-serif;
}

.modal-text-normal {
  color: #f0f0f0;
  font-size: 12px;
  font-family: Bahnschrift, sans-serif;
}
