<div class="row">
  <div class="com-md-12 px-4 py-3">

    <table class="table table-dark">
      <thead>
      <tr class="text-center">
        <th scope="col" class="table-heading-text-color">Currency</th>
        <th scope="col" class="table-heading-text-color">Buy</th>
        <th scope="col" class="table-heading-text-color">Sell</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let rate of rates; index as i" class="text-center">
        <td class="currency-text-color">{{rate.currency}}</td>
        <td class="rate-text-color">{{rate.buy}}</td>
        <td class="rate-text-color">{{rate.sell}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <canvas id="rateChart"></canvas>
  </div>
</div>
