#rate {
  height: 462px;
}

#inner {
  padding: 10px 20px;
  height: 430px;
  border: 1px solid #aeaeae;
}

.bg-dark {
  background-color: #1b1b1b;
}

.bg-body-dark{
  background-color: #1a1a1a;
}

.text-color {
  color: #f3f3f3;
  font-family: Bahnschrift, sans-serif;
}

.table-heading-text-color {
  color: #cacaca;
  font-size: 12px;
  font-family: Bahnschrift, sans-serif;
}

.table-bg-dark {
  background-color: #1a1a1a;
}

.currency-text-color {
  font-size: 14px;
  font-weight: bold;
  color: #f3f3f3;
  font-family: Bahnschrift, sans-serif;
}

.rate-text-color {
  font-size: 13px;
  color: #aeaeae;
  font-family: Bahnschrift, sans-serif;
}
