<nav class="navbar">
  <div class="container pt-2 ps-0 pe-0">

    <div class="col-6">
      <img src="./assets/logo.png" class="logo float-start" alt="Logo" width="22" height="22" />
      <h6 class="h6 text-color-heading mt-1">BD Currency Rate</h6>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-sm btn-secondary ms-2 info-btn float-end" data-bs-toggle="modal" data-bs-target="#about"></button>
      <button type="button" class="btn btn-sm btn-secondary graph-btn float-end"></button>
    </div>

  </div>
</nav>

<div class="modal fade" id="about" tabindex="-1" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h2 class="modal-title fs-5 text-light">BD Currency Rate</h2>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-text-normal">
          Version: 1.0.1 <br />
          &copy; Copyright {{ getYear() }}
        </p>
        <hr />
        <h2 class="fs-5 text-light">Developers</h2>
        <p class="modal-text-normal">
          Sadat Rafsanjani <br />
          Nayeem Hussain Shanto
        </p>
      </div>
      <div class="modal-footer align-content-start">
        <span class="modal-text">Last Updated: {{ time }}</span>
      </div>
    </div>
  </div>
</div>
