<nav class="navbar">
  <div class="container-fluid pt-2">

    <div class="col-md-3">
      <img src="./assets/logo.png" class="logo float-start" alt="Logo" width="24" height="24" />
      <h6 class="h6 text-color-heading mt-1">BD Currency Rate</h6>
    </div>
    <div class="d-flex">

      <button type="button" class="btn btn-sm btn-secondary graph-btn"></button>

      <button type="button"
              class="btn btn-sm btn-secondary ms-2 info-btn"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasScrolling"
              aria-controls="offcanvasScrolling"></button>
    </div>

  </div>
</nav>
