<nav class="navbar border-bottom border-warning">
  <div class="container pt-2 ps-0 pe-0">

    <div class="col-6">
      <img src="./assets/logo.png" class="logo float-start" alt="Logo" width="24" height="24" />
      <h6 class="h6 text-color-heading mt-1">BD Currency Rate</h6>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-sm btn-secondary ms-2 info-btn float-end" data-bs-toggle="modal" data-bs-target="#about"></button>
      <button type="button" class="btn btn-sm btn-secondary graph-btn float-end"></button>
    </div>

  </div>
</nav>
